body {
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
}

#header, #footer {
    color: #fff;
}

#header a, a:visited {
    color: #fff;
    text-decoration: none;
}

#menu {
    display: flex;
    align-items: baseline;
}
#menu-links {
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
}

#menu h1 {
    
}