body {
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
}

#main {
    max-width: 800px;
    margin: auto;
}

#header, #footer {
    color: #fff;
}

#header a, a:visited {
    color: #fff;
    text-decoration: none;
}

#menu {
    display: flex;
    align-items: baseline;
}
#menu-links {
    flex-grow: 2;
    display: flex;
    justify-self: self-end;
    justify-content: space-between;
}

#menu-links a {
    margin-left: 15px;
}

#menu h2 {
    flex-grow:50;
}
