body {
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;

}

h1 {
    font-size: 38px;
    font-weight: 950;
    letter-spacing: 1px;
    margin: 0px;
    line-height: 120%;
}

h3 {
    font-size: 24px;
    font-weight: 910;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

button {
    background: #3882F6;
    color: #fff;
    border: 0;
    border-radius: 4px;
    padding: 8px 20px;
    font-weight: bolder;
}

#header, #random-info-content, #quote-content, #footer {
    max-width: 800px;
    margin: auto;
}

/* #header, #random-info-container, #quote-container, #footer{
    margin: 0, auto;
} */

#main {
    display: flex;
    flex-direction: column;
}

#header, #footer {
    color: #fff;
}

#header a, a:visited {
    color: #fff;
    text-decoration: none;
}

#menu {
    display: flex;
    align-items: baseline;
    flex-basis: 100%;
}
#menu-links {
    flex-grow: 2;
    display: flex;
    justify-self: self-end;
    justify-content: space-between;
}

#menu-links a {
    margin-right: 15px;
}

#menu h2 {
    flex-grow:50;
}

#header-content {
    display: flex;
    margin: 40px auto;
    align-items: end;
    justify-content: space-between;
}

#header-info {
    flex-basis: 45%;
    margin-right: 20px;

}

#header-info p {
    margin: 0 0 10px;
}

#header-image {
    flex-basis: 55%;
}

#header-image img{
    max-width: 100%;
    height: auto;
}

#random-info-container {
    background: #fff;
    padding: 10px 0 40px;
}

#photo-gallery {
    display: flex;
    justify-content: space-between;
}

.gallery-text {
    text-align: center;
}

.gallery-image {
    border: #3882F6 solid 3px;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    margin: auto;
}

#quote-container {
    background: #E5E7EB;
}

.quote-text {
    font-size: 26px;
    font-style: italic;
    text-align: justify;
}

.quote-credit {


    font-size: 20px;
    font-weight: 900;

}

#footer {
    display: flex;
}
#footer span {
    margin: auto;
}
